article {
    padding: 30px;
}

article {
    margin: auto;
}

h3 {
    text-align: center;
    padding: 10px;
}

.row {
    padding: 10px;
    width: 100%;
}

.form-control {
    margin: 10px;
}

.btn-lg {
    margin: 0 auto;
}

img {
    width: 160px;
}
