.chat-field{
  background-color:#fff;
  display:inline-block;
  position:relative;
  padding:5px;
  margin-left:10px;
  border:2px solid #2B7A78;
  border-top-right-radius:10px;
}

.chat-field2{
  background-color:#fff;
  display:inline-block;
  position:relative;
  padding:5px;
  margin-right:10px;
  border:2px solid #DEF2F1;
  border-top-left-radius: 10px;
}

.chat-message{
  margin:0;
}

.outer-message-container {
  margin-bottom: 0;
}

.outer-message-container:first-child {
  margin-top: 20px;
}

.inner-message-container > .row {
  display: flex;
  align-items: center;
}

.inner-message-container.mine > .row > .col {
  margin-left: 0;
}