.negreta {
	font-weight: bold;
}

p {
	font-size: 12;
}

.column {
	padding-left: 20px;
		display: inline-block;
		width: 50%;
		vertical-align: top;
}

.dades {
	margin: 20px;
}

.fade-enter-active, .fade-leave-active {
	transition: opacity .2s;
}

.fade-enter, .fade-leave-to {
	opacity: 0;
}

.author-isbn {
	vertical-align: text-bottom;
}

.author-isbn span {
	font-size: 14px;
	vertical-align: middle;
}

#imgLlibre {
	max-width: 250px;
	max-height: 310px;
	padding-left: 30px;
	margin: 40px;
	margin-left: auto;
  margin-right: auto;
}

.card.horizontal {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
}

.btn.waves-effect {
    height: auto;
    min-height: 20px;
    line-height: 20px;
    padding-top: 8px;
    padding-bottom: 8px;
}

@media only screen and (max-width : 1023px) {
  .column {
    display: block;
		width:100%;
	}

  .card.horizontal {
    display: inline-block;
		margin: 10px 10px 10px 10px;
		max-width: calc(100% - 20px);
	}

	.card-image {
		width: 100% !important;
		max-width: 100% !important;
		text-align: center;
	}

	.card-stacked {
		width: 100% !important;
	}

	.card .card-content {
		padding-top: 0 !important;
	}

	.row.dades > div {
		width: 100% !important;
	}

	.card-action {
		margin: 0 !important;
		padding: 16px 50px !important;
	}

	.card-action .row > div {
		width: 100% !important;
		text-align: center;
	}

	.card-stacked h3 {
		margin-top: 0;
		font-size: 2rem;
	}

}

@media only screen and (max-width: 1400px) {
	#imgLlibre {
		max-width: 200px;
	}
}