.negreta {
	font-weight: bold;
}

p {
	font-size: 12;
}

.column {
	padding-left: 20px;
  	display: inline-block;
  	width: 50%;
  	vertical-align: top;
}

.dades {
	margin: 20px;
}

.fade-enter-active, .fade-leave-active {
	transition: opacity .5s;
}

.fade-enter, .fade-leave-to {
	opacity: 0;
}

.author-isbn {
	vertical-align: text-bottom;
}

.author-isbn span {
	font-size: 14px;
	vertical-align: middle;
}

#imgLlibre {
	max-width: 250px;
	max-height: 310px;
	padding-left: 10px;
	margin: 40px;
	margin-left: auto;
  	margin-right: auto;
}

.card.horizontal {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
}

.btn.waves-effect {
    height: auto;
    min-height: 20px;
    line-height: 20px;
    padding-top: 8px;
    padding-bottom: 8px;
}

@media only screen and (max-width : 700px) {
  .column {
    display: block;
   	width:100%;
  }
  
  .card.horizontal {
    display: inline-block;
    margin: 10px 10px 10px 10px;   	
  }  
 
}
