.negreta {
	font-weight: bold;
	margin-right: 10px;
}

p {
	font-size: 12;
}

.column {
	display: inline-block;
  	width: 100%;
  	vertical-align: top;
}



.fade-enter-active, .fade-leave-active {
	transition: opacity .5s;
}

.fade-enter, .fade-leave-to {
	opacity: 0;
}

#imgUsuari {
	max-width: 200px;
	max-height: 290px;
	padding: 30px;

	margin-left: auto;
  	margin-right: auto;
}

.card.horizontal {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
}

@media only screen and (max-width : 1023px) {
  .column {
    	display: block;
		width:100%;
	}

  .cardConversa {
  	width: 100% !important;
  }

  .card.horizontal {
    display: inline-block;
		width: 100%;
	}

	.card-image {
		width: 100% !important;
		max-width: 100% !important;
		text-align: center;
	}

	.card-stacked {
		width: 100% !important;
	}

	.card .card-content {
		padding-top: 0 !important;
	}

	.row.dades > div {
		width: 100% !important;
	}

	.dades {
		margin-bottom: 20px !important;
	}

	.card-action {
		margin: 0 !important;
		padding: 16px 50px !important;
	}

	#imgLlibre {
		padding: 30;
	}

}

@media only screen and (max-width: 1400px) {
	#imgLlibre {
		max-width: 200px;
	}
}

@media screen and (max-width: 1023px) {
	.card.horizontal > div {
		text-align: center;
	}
}

.card.horizontal > div:first-child {
	display: flex;
	justify-content: center;
	align-items: center;
}

.img-usuari-container {
	width: 150px;
	height: 150px;
	background-size: cover;
	border-radius: 50%;
	overflow: hidden;
	border: 1px solid #2B7A78;
}

.card.horizontal {
	padding: 2rem 0;
}

.card.horizontal div {
	margin-bottom: 0;
}

.card-content > .row {
	display: flex;
}

@media screen and (max-width: 1023px) {
	.card-content > .row {
		flex-direction: column;
	}
}

.button {
	align-self: flex-end;
}

@media screen and (min-width: 1024px) {
	.button {
		padding-left: 30px;
	}
}

@media screen and (max-width: 1023px) {
	.card-horizontal {
		margin: 1rem 0 0;
	}
	.card.horizontal > div {
		padding: 1rem;
	}
	.button {
		margin-top: 1rem;
	}
}