.user-image {
	max-width: 100px;
	max-height: 100px;
}

.arrows-image {
	max-width: 80px;
	max-height: 80px;
}

.negreta {
	font-weight: bold;
}

p {
	font-size: 12;
}

.column {
	padding-left: 20px;
  	display: inline-block;
  	width: 50%;
  	vertical-align: top;
}

.dades {
	margin: 20px;
}

.fade-enter-active, .fade-leave-active {
	transition: opacity .5s;
}

.fade-enter, .fade-leave-to {
	opacity: 0;
}

.author-isbn {
	vertical-align: text-bottom;
}

.author-isbn span {
	font-size: 14px;
	vertical-align: middle;
}

#imgLlibre {
	max-width: 250px;
	max-height: 310px;
	padding-left: 10px;
	margin: 40px;
	margin-left: auto;
	margin-right: auto;
}

.card.horizontal {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
}
	
[v-cloak] {
	display: none;
}

#input-value-container {
	margin-top: 0;
}

@media only screen and (max-width : 700px) {
  .column {
    display: block;
   	width:100%;
  }
   
  .card.horizontal {
    display: inline-block;
    margin: 10px 10px 10px 10px;   	
  }  
 
}
