.user-image {
	max-width: 100px;
	max-height: 100px;
}

.arrows-image {
	max-width: 80px;
	max-height: 80px;
}

.negreta {
	font-weight: bold;
}

p {
	font-size: 12;
}

.column {
	padding-left: 20px;
  	display: inline-block;
  	width: 50%;
  	vertical-align: top;
}

.dades {
	margin: 20px;
}

.fade-enter-active, .fade-leave-active {
	transition: opacity .5s;
}

.fade-enter, .fade-leave-to {
	opacity: 0;
}

.author-isbn {
	vertical-align: text-bottom;
}

.author-isbn span {
	font-size: 14px;
	vertical-align: middle;
}

#imgLlibre {
	max-width: 250px;
	max-height: 310px;
	padding-left: 10px;
	margin: 40px;
	margin-left: auto;
	margin-right: auto;
}

.card.horizontal {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	flex-wrap: wrap;
	padding-bottom: 15px;
}

#input-value-container {
	margin-top: 0;
}

.score {
	margin-top: 20px;
	display: flex;
	justify-content: center;
	align-items: flex-end;
}

.score > a {
	display: flex;
	justify-content: center;
	align-items: flex-end;
	margin-right: 0;
	color: black;
}

.score > a:visited {
	color: black;
}

hr {
	border: 0;
	height: 1px;
	background-image: -webkit-linear-gradient(left, #ccc, #3aafa9, #ccc);
	background-image: -moz-linear-gradient(left, #ccc, #3aafa9, #ccc);
	background-image: -ms-linear-gradient(left, #ccc, #3aafa9, #ccc);
	background-image: -o-linear-gradient(left, #ccc, #3aafa9, #ccc);
	margin-top: 25px;
}

.hr-bottom {
	margin: 0 35.125px 10px !important;
}

.score img {
	margin-bottom: -2px;
	height: 20px;
}

.stars {
	background: url("../img/star-rating-sprite.png") repeat-x;
	font-size: 0;
	height: 21px;
	line-height: 0;
	overflow: hidden;
	text-indent: -999em;
	width: 110px;
	margin: 0 15px;
}

.stars .star-rating {
	background: url("../img/star-rating-sprite.png") repeat-x;
	background-position: 0 100%;
	float: left;
	height: 21px;
	display:block;
}

.number-rating {
	margin-bottom: -5px;
	font-weight: bold;
	font-size: 1.2rem;
}

.card .card-content {
	padding-bottom: 5px;
}

.card-action-container, .card-action {
	width: 100%;
}

.card-action {
	margin: 0 35.250px !important;
	border-top: none !important;
}

.card-action > .row {
	margin-bottom: 0;
}

.exchange-button {
	cursor: pointer;
}

.user-link {
	color: #3AAFA9 !important;
	text-transform: none !important;
	font-size: 1.2rem;
	margin-left: 10px;
	font-weight: bold;
}

@media only screen and (max-width : 1023px) {
  .column {
    display: block;
		width:100%;
	}

	.number-rating {
		margin-bottom: -3px;
	}

  .card.horizontal {
    display: inline-block;
		margin: 10px 10px 10px 10px;
		max-width: calc(100% - 20px);
	}

	.card-image {
		width: 100% !important;
		max-width: 100% !important;
		text-align: center;
	}

	.card-stacked {
		width: 100% !important;
	}

	.card .card-content {
		padding-top: 0 !important;
	}

	.row.dades > div {
		width: 100% !important;
	}

	.hr-bottom {
		margin: 0 35.125px !important;
		width: calc(100% - 70.250px) !important;
	}

	.card-action {
		margin: 0 !important;
		padding: 16px 50px !important;
	}

	.card-action .row > div {
		width: 100% !important;
		text-align: center;
	}

	.card-stacked h3 {
		margin-top: 0;
		font-size: 2rem;
	}

	.filter .row .col.s4, .filter .row .col.s8 {
		width: 100% !important;
	}
}

@media only screen and (max-width: 1400px) {
	#imgLlibre {
		max-width: 200px;
	}
}

@media only screen and (max-width: 1023px) {
	.user-avatar-container {
		display: flex;
		justify-content: center;
		margin-bottom: 20px;
	}
}

.user-avatar {
	width: 100px;
	height: 100px;
	border-radius: 50%;
	background-size: cover;
	border: 1px solid #2B7A78;
}

.llibres-disponibles-page {
	margin-bottom: 50px;
}

.modal-footer {
	height: auto !important;
}

@keyframes spin {
	from {
		transform: rotate(0);
	}
	to {
		transform: rotate(360deg);
	}
}

.medium.animate {
	animation: spin .7s ease-out;
}

/* Spinner */
.loader,
.loader:before,
.loader:after {
  border-radius: 50%;
  width: 2.5em;
  height: 2.5em;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation: load7 1.8s infinite ease-in-out;
  animation: load7 1.8s infinite ease-in-out;
}
.loader {
  color: #3aafa9;
  font-size: 10px;
  margin: 80px auto;
  position: relative;
  text-indent: -9999em;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.loader:before,
.loader:after {
  content: '';
  position: absolute;
  top: 0;
}
.loader:before {
  left: -3.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.loader:after {
  left: 3.5em;
}
@-webkit-keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}
@keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}
