.check-image {
	max-width: 80px;
	max-height: 80px;
}

.negreta {
	font-weight: bold;
}

.negreta span {
	font-weight: normal;
}

p {
	font-size: 12;
}

.author-isbn {
	vertical-align: text-bottom;
}

.author-isbn span {
	font-size: 14px;
	vertical-align: middle;
}

#imgLlibre {
	max-width: 250px;
	max-height: 310px;
	padding-left: 10px;
	margin: 40px;
	margin-left: auto;
  	margin-right: auto;
}

.column {
  float: left;
  width: 50%;
}

.dades {
	margin: 20px;
}

.author-isbn {
	vertical-align: text-bottom;
}

.author-isbn span {
	font-size: 14px;
	vertical-align: middle;
}

#imgLlibre {
	max-width: 250px;
	max-height: 310px;
	padding-left: 10px;
	margin: 40px;
	margin-left: auto;
  	margin-right: auto;
}

.botoCheck {
	background:url(/img/checkmark.svg) no-repeat;
	border:none;
    width:80px;
    height:80px;
    margin-top: 10px;
}

.amagar {
	display: none;	
}

.card.horizontal {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
}
