<!DOCTYPE html>
<html layout:decorate="~{layout/base.html}">
    <head>
        <title>Afegir llibre</title>
        <link rel="stylesheet" type="text/css" href="/css/afegir-llibre.css">
        <script type="text/javascript" src="/js/afegirLlibre.js"></script>
    </head>

    <body>
        <section layout:fragment="content">
            <article>
                <section>
                    <h3>Afegir llibre</h3>
                    <form id="formAfegirLlibre">
                        <div class="row">
                            <div class="col">
                                <input type="text" class="form-control" id="titol" placeholder="Títol" name="title">
                                <input type="text" class="form-control" id="ISBN" placeholder="ISBN" name="isbn">
                                <input type="text" class="form-control" id="autor" placeholder="Autor" name="authorName">
                                <input type="text" class="form-control" id="editorial" placeholder="Editorial" name="publisherName">
                                <div class="form-group">
                                    <select class="form-control" id="genere" name="genreId">
                                        <option selected value="">Gènere</option>
                                        <option th:each="genre : ${genres}" th:attr="value=${genre.id}">[[ ${genre.name} ]]</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <select class="form-control" id="estil" name="theme">
                                        <option selected value="">Temàtica</option>
                                        <option th:each="theme : ${themes}" th:attr="value=${theme.id}">[[ ${theme.name} ]]</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <select class="form-control" id="idioma" name="languageId">
                                        <option selected value="">Idioma</option>
                                        <option th:each="language : ${languages}" th:attr="value=${language.id}">[[ ${language.name} ]]</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <select class="form-control" id="estatConserv">
                                        <option selected value="">Estat de conservació</option>
                                        <option value="com_nou">Com nou</option>
                                        <option value="en_bon_estat">En bon estat</option>
                                        <option value="accpetable">Acceptable</option>
                                    </select>
                                </div>
                                <input type="text" class="form-control" id="edicio" placeholder="Edició">
                            </div>
                            <div class="col">
                                <img src="img/default-profile-picture.jpg" id="imgPerfil"
                                    alt="Imatge per defecte d'un usuari">
                                <div class="form-group">
                                    <label for="selectorFoto">Selecciona una foto de perfil</label>
                                    <input type="file" class="form-control-file" id="selArxiu">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <button type="submit" id="botoSubmit" class="btn btn-primary btn-lg">Afegeix llibre</button>
                        </div>
                    </form>
                </section>
                <section></section>
            </article>
        </section>
    </body>
</html>