<!DOCTYPE html>
<html layout:decorate="~{layout/base.html}">
    <head>
        <title>Conversa</title>
        <link rel="stylesheet" type="text/css" href="/css/conversa.css" />
    </head>

    <body>
        <section layout:fragment="content" id="app" class="conversa-page">
            <div class="container">
                <div class="row">
                    <div class="header-container">
                        <h1 class="header center black-pearl-text">
                            Conversa amb <a class="user-link" :href="`/llibres-disponibles?filter=user&q=${otherUserId}`">{{ otherUserUsername }}</a>
                        </h1>
                        <div class="user-avatar" :style="{ backgroundImage: `url('../img/avatars/${otherUserAvatar}')`}">
                        </div>
                    </div>
                    <hr class="grey" />
                    <div class="col s12 messages">
                        <div
                            class="row outer-message-container"
                            v-for="(message, index) in messages"
                            :class="[ isMine(message) ? 'right-align' : 'left-align' ]"
                        >
                            <div
                                class="col s6 left inner-message-container"
                                v-if="! isMine(message)"
                            >
                                <div class="row">
                                    <div class="chat-field atoll" :class="{ rounded : index != 0 && ! isDifferentUser(index) }">
                                        <span class="chat-message white-text">
                                            {{ message.body }}
                                        </span>
                                        <div class="arrow-left-message" v-if="index == 0 || isDifferentUser(index)"></div>
                                    </div>
                                </div>
                            </div>

                            <div
                                class="col s6 right inner-message-container mine"
                                v-else
                            >
                                <div class="row">
                                    <div class="chat-field2 oyster-bay" :class="{ rounded : index != 0 && ! isDifferentUser(index)  }">
                                        <span class="chat-message black-text">
                                            {{ message.body }}
                                        </span>
                                        <div class="arrow-right-message" v-if="index == 0 || isDifferentUser(index)"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12 l6 offset-l3">
                        <div class="row">
                            <div class="input-field col s10 l11">
                                <input
                                    placeholder="Escriu el teu missatge aquí"
                                    id="first_name"
                                    type="text"
                                    class="validate"
                                    v-model="newMessage"
                                    @keyup.enter="sendMessage"
                                />
                            </div>
                            <div class="input-field col s1">
                                <button
                                    @click="sendMessage"
                                    class="btn waves-effect waves-light btn-small light-sea-green btn-block"
                                    type="button"
                                >
                                    <i class="material-icons white-text"
                                        >send</i
                                    >
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <th:block layout:fragment="script"
            ><script th:inline="javascript">
                window.myUserId = /*[[${myUserId}]]*/ null;
                window.uuid = /*[[${uuid}]]*/ null;
                window.messages = /*[[${messages}]]*/ [];
                window.otherUserUsername = /*[[${otherUserUsername}]]*/ '';
                window.otherUserAvatar = /*[[${otherUserAvatar}]]*/ '';
                window.otherUserId = /*[[${otherUserId}]]*/ '';
            </script>
            <script src="/webjars/sockjs-client/sockjs.min.js"></script>
            <script src="/webjars/stomp-websocket/stomp.min.js"></script>
            <script th:src="@{/js/conversa.js}"></script>
        </th:block>
    </body>
</html>
