<!DOCTYPE html>
<html layout:decorate="~{layout/base.html}">
  <head>
    <title>Pol&iacute;tica de Cookies | Punt de Llibres</title>
  </head>
  <body>
    <section layout:fragment="content">
      <h1 class="header center black-pearl-text">Pol&iacute;tica de cookies</h1>
      <div class="container">
    	<div class="section">
          <div class="row">
            <div class="col s12 black-pearl-text">
            <h1></h1>
				<p>Aquesta Pol&iacute;tica de Cookies explica qu&egrave; s&oacute;n les Cookies i com les utilitzem. Haur&iacute;eu de llegir aquesta pol&iacute;tica perqu&egrave; pugueu entendre quin tipus de cookies utilitzem, o la informaci&oacute; que recollim mitjan&ccedil;ant Cookies i com s&rsquo;utilitza aquesta informaci&oacute;.</p>
				<p>Les cookies generalment no contenen informaci&oacute; que identifiqui personalment un usuari, per&ograve; &eacute;s possible que la informaci&oacute; personal que emmagatzemem sobre tu estigui relacionada amb la informaci&oacute; emmagatzemada i obtinguda de les galetes. Per obtenir m&eacute;s informaci&oacute; sobre com utilitzem, emmagatzemem i guardem les seves dades personals segures, consulteu la nostra Pol&iacute;tica de privacitat.</p>
				<p>No emmagatzemem informaci&oacute; personal confidencial, com ara adreces de correu, contrasenyes del compte, etc. a les cookies que utilitzem.</p>
				<h4>Interpretaci&oacute; i definicions</h4>
				<h5>Interpretaci&oacute;</h5>
				<p>Les paraules amb maj&uacute;scula de la lletra inicial tenen significats definits en les condicions seg&uuml;ents.</p>
				<p>Les definicions seg&uuml;ents tindran el mateix significat independentment de si apareixen en singular o en plural.</p>
				<h5>Definicions</h5>
				<p>Als efectes d'aquesta Pol&iacute;tica de cookies:</p>
				<ul>
				<li><b> Empresa </b> (anomenada "Empresa", "Nosaltres", "Nosaltres" o "La nostra" en aquesta Pol&iacute;tica de cookies) es refereix a Punt de Llibres.</li>
				<li><b> Tu </b> significa la persona que accedeix o utilitza el lloc web, o una empresa, o qualsevol persona jur&iacute;dica en nom de la qual aquesta persona accedeixi o utilitzi el lloc web, segons s&rsquo;escau.</li>
				<li><b> Cookies </b> significa fitxers petits que es col&middot;loquen al vostre ordinador, dispositiu m&ograve;bil o qualsevol altre dispositiu per un lloc web, que contenen detalls de l&rsquo;historial de navegaci&oacute; d&rsquo;aquest lloc web entre els seus nombrosos usos.</strong></strong></li>
				<li><b> Lloc web </b> fa refer&egrave;ncia al Punt de Llibres, accessible des de puntdellibres.cat.</li>
				</ul>
				<h4>L&rsquo;&uacute;s de les cookies</h4>
				<h5>Tipus de cookies que utilitzem</h5>
				<p>Les cookies poden ser galetes "persistents" o "de sessi&oacute;". Les cookies persistents queden en el vostre ordinador personal o dispositiu m&ograve;bil quan pareu a estar fora de l&iacute;nia, mentre que les galetes de sessi&oacute; s&rsquo;esborren tan bon punt tanqueu el navegador web.</p>
				<p>Utilitzem cookies de sessi&oacute; i persistents amb els prop&ograve;sits que es descriuen a continuaci&oacute;:</p>
				<ul>
				<li>
				<p><b> Cookies necess&agrave;ries / essencials </b></p>
				<p>Tipus: Cookies de sessi&oacute;</p>
				<p>Administrat per: Nosaltres</p>
				<p>Finalitat: Aquestes Cookies s&oacute;n essencials per proporcionar-vos serveis disponibles a trav&eacute;s del Lloc Web i per permetre que utilitzeu algunes de les seves funcions. Ajuden a autenticar usuaris i a evitar l'&uacute;s fraudulent de comptes d'usuari. Sense aquestes Cookies, no es poden proporcionar els serveis que ens han sol&middot;licitat i nom&eacute;s utilitzem aquestes Cookies per proporcionar-li aquests serveis.</p>
				</li>
				<li>
				<p><b> Cookies de funcionalitat </b></p>
				<p>Tipus: Cookies persistents</p>
				<p>Administrat per: Nosaltres</p>
				<p>Finalitat: aquestes cookies ens permeten recordar les eleccions que feu quan feu servir el lloc web, com ara recordar els vostres detalls d&rsquo;inici de sessi&oacute; o les prefer&egrave;ncies. L&rsquo;objectiu d&rsquo;aquestes cookies &eacute;s proporcionar-te una experi&egrave;ncia m&eacute;s personal i evitar que hagis de tornar a introduir les teves prefer&egrave;ncies cada vegada que facis servir el lloc web.</p>
				</li>
				</ul>
				<h5>Les vostres opcions respecte a les cookies</h5>
				<p>Si preferiu evitar l&rsquo;&uacute;s de Cookies al lloc web, primer heu d&rsquo;inhabilitar l&rsquo;&uacute;s de Cookies al vostre navegador i, a continuaci&oacute;, suprimir les galetes desades al navegador associades a aquest lloc web. Podeu utilitzar aquesta opci&oacute; per impedir l&rsquo;&uacute;s de galetes en qualsevol moment.</p>
				<p>Si no accepteu les nostres cookies, podeu experimentar algun inconvenient en l&rsquo;&uacute;s del lloc web i &eacute;s possible que algunes funcions no funcionin correctament.</p>
				<p>Si voleu suprimir les galetes o instruir al navegador web per eliminar o rebutjar les galetes, visiteu les p&agrave;gines d&rsquo;ajuda del navegador web.</p>
				<ul>
				<li>Per al navegador web de Chrome, visiteu aquesta p&agrave;gina des de Google: <a href="https://support.google.com/accounts/answer/32050">https://support.google.com/accounts/answer/32050</a></li>
				<li>Per al navegador web d'Internet Explorer, visiteu aquesta p&agrave;gina des de Microsoft: <a href="http://support.microsoft.com/kb/278835">http://support.microsoft.com/kb/278835</a></li>
				<li>Per al navegador web del Firefox, visiteu aquesta p&agrave;gina des de Mozilla: <a href="https://support.mozilla.org/en-US/kb/delete-cookies-remove-info-websites-stored">https://support.mozilla.org/en-US/kb/delete-cookies-remove-info-websites-stored</a></li>
				<li>Per al navegador web Safari, visiteu aquesta p&agrave;gina des d'Apple: <a href="https://support.apple.com/guide/safari/manage-cookies-and-website-data-sfri11471/mac">https://support.apple.com/guide/safari/manage-cookies-and-website-data-sfri11471/mac</a></li>
				</ul>
				<p>Per a qualsevol altre navegador web, visiteu les p&agrave;gines web oficials del vostre navegador.</p>
				<h5>Contacta'ns</h5>
				<p>Si teniu dubtes sobre aquesta pol&iacute;tica de cookies, podeu contactar amb nosaltres per correu electr&ograve;nic: info@puntdellibres.cat</p>
			</div>
          </div>
	    </div>
      </div>
    </section>
  </body>
</html>