<!DOCTYPE html>
<html layout:decorate="~{layout/base.html}">
<head>
<title>Llibres disponibles</title>
<link rel="stylesheet" type="text/css"
	href="/css/llibres-disponibles.css" />
</head>

<body>
	<section layout:fragment="content" id="app"
		class="llibres-disponibles-page" v-cloak>
		<div class="container">
			<div class="row">
				<div class="col s12">
					<h1 class="header center black-pearl-text">Llibres disponibles
						{{ filteredByUser ? fromUserText : '' }}</h1>
				</div>
			</div>
			<div class="row">
				<div class="col s12">
					<p class="info" v-if="!loggedIn">Per veure quins usuaris tenen
						aquest llibre disponible i demanar un intercanvi, hauràs d'iniciar
						sessió</p>
				</div>
			</div>

			<!-- Select and search -->
			<div class="row filter">
				<div class="col s12">
					<div class="row">
						<div class="input-field col s4">
							<select v-model="filter" id="select-type">
								<option value="" disabled selected>Tria una opció...</option>
								<option value="author">Autor</option>
								<option value="title">Títol</option>
								<option value="genre">Gènere</option>
								<option value="theme">Temàtica</option>
								<option value="language">Idioma</option>
								<option value="publisher">Editorial</option>
								<!--<option sec:authorize="isAuthenticated()" value="radius">Distància</option>  -->
							</select> <label>Filtra per...</label>
						</div>

						<div class="input-field col s8" id="select-genre-container"
							v-show="filter == 'genre'">
							<select id="select-genre">
								<option value="" disabled selected>Tria una opció...</option>
								<option v-for="option in getOptions('genre')" :value="option">{{
									option }}</option>
							</select>
						</div>

						<div class="input-field col s8" id="select-language-container"
							v-show="filter == 'language'">
							<select id="select-language">
								<option value="" disabled selected>Tria una opció...</option>
								<option v-for="option in getOptions('language')" :value="option">{{
									option }}</option>
							</select>
						</div>

						<div class="input-field col s8" id="select-publisher-container"
							v-show="filter == 'publisher'">
							<select id="select-publisher">
								<option value="" disabled selected>Tria una opció...</option>
								<option v-for="option in getOptions('publisher')"
									:value="option">{{ option }}</option>
							</select>
						</div>

						<div class="input-field col s8" id="select-theme-container"
							v-show="filter == 'theme'">
							<select id="select-theme">
								<option value="" disabled selected>Tria una opció...</option>
								<option v-for="option in getOptions('theme')" :value="option">{{
									option }}</option>
							</select>
						</div>

						<div class="input-field col s8" id="input-value-container"
							v-show="['author', 'title'].includes(filter)">
							<div class="input-field">
								<input type="text" v-model="inputFilterValue" id="input-value" />
							</div>
						</div>
					</div>

				</div>
            </div>

            <!-- Spinner -->
            <div class="loader" v-show="loading">Loading...</div>

			<div class="row">
						<!-- Opció de cerca per distància (radi) -->
						<div class="input-field col s4" sec:authorize="isAuthenticated()">
							<select v-model="radius" id="select-radius">
								<option value="" disabled selected>Tria una distància màxima...</option>
								<option value=5>5km</option>
								<option value=10>10km</option>
								<option value=25>25km</option>
								<option value=50>50km</option>
								<option value=100>100km</option>
							</select>
						</div>
			</div>
            <!-- Book cards -->
            <transition-group name="fade" mode="out-in">
                <div class="row" :key="book.id" v-for="book in booksShown">
                    <div class="col s12">
                        <div class="card horizontal hoverable teal lighten-5">
                            <div class="col s3 card-image">
                                <img
                                    class="responsive-img"
                                    :src="`/img/covers/${book.cover}`"
                                    id="imgLlibre"
                                    :alt="book.title"
                                />
                            </div>
                            <div class="col s9 card-stacked">
                                <div class="card-content">
                                    <h3 class="negreta center-align">
                                        {{ book.title }}
                                    </h3>
                                    <h5
                                        class="author-isbn negreta center-align"
                                    >
                                        <em>{{ book.author.name }}</em>
                                        <span>({{ book.isbn }})</span>
                                    </h5>
                                    <div class="row score" v-if="book.hasOwnProperty('goodReadsInfo')">
                                        <a :href="`https://www.goodreads.com/book/show/${book.goodReadsInfo.id}`" target="_blank">
                                            <img src="/img/goodreads.png" alt="Goodreads Logo">
                                            <span class="stars">
                                                <span :style="{ width: `${book.goodReadsInfo.score / 5 * 100}%` }" class="star-rating"></span>
                                            </span>
                                            <span class="number-rating">{{ book.goodReadsInfo.score }}</span>
                                        </a>
                                    </div>
                                    <hr>
                                    <div class="row dades">
                                        <div class="column col s4 offset-s1">
                                            <p>
                                                <span class="negreta"
                                                    >Editorial:
                                                </span>
                                                {{ book.publisher.name }}
                                            </p>
                                            <p>
                                                <span class="negreta"
                                                    >Gènere:
                                                </span>
                                                {{ book.genre.name }}
                                            </p>
                                            <p>
                                                <span class="negreta"
                                                    >Temàtica:
                                                </span>
                                                {{ book.theme.name }}
                                            </p>
                                        </div>
                                        <div class="column col s4 offset-s1">
                                            <p>
                                                <span class="negreta"
                                                    >Idioma:
                                                </span>
                                                {{ book.language.name }}
                                            </p>
                                            <p>
                                                <span class="negreta"
                                                    >Edició:
                                                </span>
                                                {{ book.edition }}
                                            </p>
                                            <p>
                                                <span class="negreta"
                                                    >Estat de conservació:
                                                </span>
                                                {{ book.preservation }}
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr class="hr-bottom col s12" v-if="loggedIn">
                            <div class="col s12 card-action" v-if="loggedIn">
                                <div class="row">
                                    <div class="col s4 right-align">
                                        <p>
                                            Disponible de: <a class="user-link" :href="`/llibres-disponibles?filter=user&q=${book.user.id}`">{{
                                            book.user.username }}</a>
                                        </p>
                                    </div>
                                    <div class="col s12 l3 user-avatar-container">
                                        <div class="user-avatar" :style="{ backgroundImage: `url('../img/avatars/${book.user.avatar}')`}"></div>
                                    </div>
                                    <div
                                        class="card col s4 center-align hoverable light-sea-green azure-text exchange-button"
                                        @click="activaModal(book.id)"
                                        v-if="! myRequestedBooks.includes(book.id)"
                                    >
                                        <span class="bolder"
                                            >Sol·licitar intercanvi</span
                                        ><br />
                                        <i class="medium material-icons"
                                            :class="{ animate : requestingBook && requestedBookId === book.id }"
                                            >autorenew</i
                                        >
                                    </div>
                                    <div
                                        class="card col s4 center-align light-sea-green-text azure"
                                        v-else
                                    >
                                        <span class="bolder"
                                            >Intercanvi sol·licitat</span
                                        ><br />
                                        <i class="medium material-icons"
                                            >check</i
                                        >
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </transition-group>

            <div class="modal">
                <div class="modal-content">
                    <h4 class="black-pearl-text center-align">Confirmació</h4>
                    <p class="black-pearl-text center-align">
                        Si us plau, confirma que vols enviar la petició
                        d'intercanvi
                    </p>
                </div>

                <div class="modal-footer">
                    <a
                        @click="tancaModal"
                        class="modal-close waves-effect waves-green btn-flat atoll-text bolder"
                        >Cancel·lar</a>
                    <a
                        class="modal-close waves-effect waves-green btn-flat atoll-text bolder"
                        @click="requestBook(false, $event)"
                        >Acceptar</a>
                    <a
                        class="modal-close waves-effect waves-green btn-flat atoll-text bolder"
                        @click="requestBook(true, $event)"
                        >Acceptar i veure intercanvi</a>
                </div>
            </div>
        </div>
    </section>

	<footer>
		<p layout:fragment="footer"></p>
	</footer>

	<th:block layout:fragment="script">
		<script th:inline="javascript">
            window.myUserId = /*[[${myUserId}]]*/ null;
            window.loggedIn = /*[[${loggedIn}]]*/ null;
        </script>
		<script th:src="@{/js/llibres-disponibles.js}"></script>
	</th:block>
</body>
</html>
