<!DOCTYPE html>
<html layout:decorate="~{layout/base.html}">
  <head>
    <title>Política de privacitat | Punt de Llibres</title>
  </head>
  <body>
    <section layout:fragment="content">
      <h1 class="header center black-pearl-text">Pol&iacute;tica de privacitat</h1>
      <div class="container">
    	<div class="section">
          <div class="row">
            <div class="col s12 black-pearl-text">
            	<h4>1 - Qui &eacute;s el responsable del tractament de les seves dades?</h4>
				<p>En compliment del que s'estableix en el Reglament (UE) 2016/679 del Parlament Europeu i del Consell de 27 d'Abril del 2016 les teves dades seran tractades per:</p>
				<p>Identitat: Punt de Llibres CIF:12345678A<br />Adre&ccedil;a postal: Av. del Paral&middot;lel 71 &ndash; 73, 08004 Barcelona<br />Tel&egrave;fon: 123456789<br />Email: info@puntdellibres.cat</p>
				<h4>3 - Qu&egrave; fem amb la teva informaci&oacute;?</h4>
				<p>Quan t'enregistres al nostre lloc web, nosaltres recol&middot;lectem la informaci&oacute; personal que ens d&oacute;nes com ara nom, adre&ccedil;a i correu electr&ograve;nic.</p>
				<p>Quan navegues pel nostre lloc web, tamb&eacute; rebem de manera autom&agrave;tica l'adre&ccedil;a de protocol d'internet de la teva computadora (IP), el teu navegador i sistema operatiu, aix&iacute; com informaci&oacute; sobre les cookies instal&middot;lades al teu dispositiu.</p>
				<p>Amb el teu perm&iacute;s, podrem enviar-te correus electr&ograve;nics sobre amb informaci&oacute; que pugui ser del teu inter&eacute;s.</p>
				<h4>3 - Consentiment</h4>
				<h5>Com obtenim el teu consentiment?</h5>
				<p>Quan ens proveeixes la teva informaci&oacute; personal per a crear el teu perfil d'usuari, pujar un llibre propi al lloc web, o concertar un intercanvi, impliquem que acceptes la recol&middot;lecci&oacute; i &uacute;s per aquesta ra&oacute; espec&iacute;fica solament.</p>
				<p>Si et demanem la teva informaci&oacute; personal per una ra&oacute; secund&agrave;ria, com a m&agrave;rqueting, et demanarem directament el teu consentiment expr&eacute;s, o et donarem l'oportunitat de negar-te.</p>
				<h5>Com puc anul&middot;lar el meu consentimient?</h5>
				<p>Si despr&eacute;s d'haver acceptat canvies d'opini&oacute;, pots anul&middot;lar el teu consentiment perqu&egrave; et contactem, per la recol&middot;lecci&oacute;, &uacute;s o divulgaci&oacute; de la teva informaci&oacute;, en qualsevol moment, contactant-nos a info@puntdellibres.cat o escrivint-nos a:</p>
				<p>Punt de Llibres. Av. del Paral&middot;lel 71 &ndash; 73, 08004 Barcelona</p>
				<h4>4 - Divulgaci&oacute;</h4>
				<p>Podem divulgar la teva informaci&oacute; personal si se'ns requereix per llei o si violes les nostres Condicions d'&uacute;s.</p>
				<h4>5 - Allotjament web</h4>
				<p>El nostre lloc web es troba allotjat a <em>ServidorsR&agrave;pids</em>. Les teves dades s'emmagatzemen en un servidor segur darrere d'un *firewall.</p>
				<h4>6 - Serveis de tercers</h4>
				<p>En general, els prove&iuml;dors de terceres parts utilitzats per nosaltres nom&eacute;s recopilaran, usaran i divulgaran la teva informaci&oacute; en la mesura que sigui necess&agrave;ria perqu&egrave; els permeti exercir els serveis que ens proveeixen.</p>
				<p>Una vegada que abandones el nostre lloc web o et redirigeixes a un lloc o aplicaci&oacute; de tercers, ja no est&agrave;s sent regulats per la present Pol&iacute;tica de Privacitat o les Condicions d'&Uacute;s la nostra p&agrave;gina web.</p>
				<h5>Enlla&ccedil;os</h5>
				<p>Quan fas clic en enlla&ccedil;os del nostre lloc web, pot ser que siguis redirigit fora del nostre lloc. No som reponsables per les pr&agrave;ctiques de privacitat d'altres llocs i et recomanem llegir les seves normes de privacitat.</p>
				<h4>7 - Seguretat</h4>
				<p>Per a protegir la teva informaci&oacute; personal, prenem precaucions raonables i seguim les millors pr&agrave;ctiques de la ind&uacute;stria per a assegurar-nos que no hi hagi p&egrave;rdua de manera inapropiada, mal &uacute;s, acc&eacute;s, divulgaci&oacute;, alteraci&oacute; o destrucci&oacute; d'aquesta.</p>
				<h5>Cookies</h5>
				<p>Aqu&iacute; tens una llista de cookies que utilitzem. Les llistem perqu&egrave; puguis triar si vols optar per llevar-les o no.</p>
				<p><em>(detallar cookies)</em></p>
				<h4>8 - Edat de consentiment</h4>
				<p>En utilitzar aquest lloc, declares que tens almenys la majoria d'edat en el teu estat o prov&iacute;ncia de resid&egrave;ncia, o que tens la majoria d'edat en el teu estat o prov&iacute;ncia de resid&egrave;ncia i que ens has donat el teu consentiment per a permetre que qualsevol dels teus dependents menors usi aquest lloc web.</p>
				<h4>9 - Quins s&oacute;n els teus drets davant el tractament de les teves dades?</h4>
				<p>Tots aquells que figurin en la nostra base de dades tenen els seg&uuml;ents drets:</p>
				<p>- <b>Dret a accedir a les seves dades personals</b>: Podr&agrave;s sol&middot;licitar informaci&oacute; sobre les dades recopilades en els nostres fitxers.</p>
				<p>- <b>Dret a sol&middot;licitar la seva rectificaci&oacute; o supressi&oacute;</b>: Podr&agrave;s canviar o eliminar qualsevol de les dades que figurin en els nostres fitxers.</p>
				<p>- <b>Dret a sol&middot;licitar la limitaci&oacute; del seu tractament</b>: Podr&agrave; sol&middot;licitar l'&uacute;s limitat de les dades que figurin en els nostres fitxers.</p>
				<p>- <b>Dret a oposar-se al tractament</b>: Podr&agrave;s sol&middot;licitar que Punt de Llibres no utilitzi les teves dades en cap moment excepte per motius leg&iacute;tims imperiosos, o l'exercici o la defensa de possibles reclamacions.</p>
				<p>- <b>Dret a la portabilitat de les dades</b>: Podr&agrave;s sol&middot;licitar l'enviament de les teves dades per mig electr&ograve;nic.</p>
				<p>Tots els usuaris podran retirar el consentiment per a finalitats espec&iacute;fiques com ara l'enviament d'informaci&oacute; promocional sense que aix&ograve; afecti el tractament de les dades per a consentiments previs com ara seguir realitzant intercanvis de llibres mitjan&ccedil;ant el lloc web.</p>
				<p>Per a exercir aquests drets haur&agrave;s de remetre un escrit a Punt de llibres a trav&eacute;s de l'adre&ccedil;a d'email: info@puntdellibres.com</p>
				<h4>10 - Canvis a aquesta Pol&iacute;tica de Privacitat</h4>
				<p>Ens reservem el dret de modificar aquesta pol&iacute;tica de privacitat en qualsevol moment, aix&iacute; que si us plau revisa-la sovint. Canvis i aclariments entraran en vig&egrave;ncia immediatament despr&eacute;s de la seva publicaci&oacute; en el lloc web. Si fem canvis materials a aquesta pol&iacute;tica, notificarem aqu&iacute; que ha estat actualitzada, per la qual cosa com est&agrave;s assabentat de quina informaci&oacute; recopilem, com i baix quines circumst&agrave;ncies, si n'hi hagu&eacute;s, la utilitzem i/o divulguem.</p>
				<p>Si el nostre lloc web &eacute;s adquirit o fusionat amb una altra empresa, la teva informaci&oacute; pot ser transferida als nous propietaris.</p>
			  </div>
          </div>
	    </div>
      </div>
    </section>
  </body>
</html>