<!DOCTYPE html>
<html layout:decorate="~{layout/base.html}">

<head>
  <title>Alta d'usuari nou | Punt de Llibres</title>
  <link
      rel="stylesheet"
      type="text/css"
      href="/css/registre.css"
  />
</head>

<body>
  <section layout:fragment="content">
    <h1 class="header center black-pearl-text">Crea el teu compte d'usuari</h1>
    <div class="container">
	  <div class="row">
	    <div class="col l3"></div>
	    <div class="card col l6 m12 s12 form-container">
          <form method="post" th:object="${user}" th:action="@{/registre}" id="formRegistre">

            <div class="input-field col s12 center-align">
              <i class="material-icons prefix">person_outline</i>
              <input type="text" id="username" name="username" th:field="*{username}" th:classappend="${#fields.hasErrors('username')} ? 'invalid' : ''"/>
              <label for="username">Nom d'usuari</label>
              <span id="helper-username" class="helper-text" data-error=""></span>
            </div>
            <div class="col s12 error center-align" th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></div>

            <div class="input-field col s12 center-align">
              <i class="material-icons prefix">mail_outline</i>
              <input type="email" id="email" name="email" th:field="*{email}" autocomplete="off" readonly
              onfocus="this.removeAttribute('readonly')" th:classappend="${#fields.hasErrors('email')} ? 'invalid' : ''" />
              <label for="email">Correu electrònic</label>
              <span id="helper-email" class="helper-text" data-error=""></span>
            </div>
            <div class="col s12 error center-align" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>

            <div class="input-field col s12 center-align">
              <i class="material-icons prefix">lock_outline</i>
              <input type="password" id="password" name="password" th:field="*{password}" th:classappend="${#fields.hasErrors('password')} ? 'invalid' : ''"/>
              <label for="password">Contrasenya</label>
              <span id="helper-password-1" class="helper-text" data-error=""></span>
            </div>
            <div class="col s12 error center-align" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div>

            <div class="input-field col s12 center-align">
              <i class="material-icons prefix">lock_outline</i>
              <input type="password" id="password2" name="password2"/>
              <label for="password2">Confirma la teva contrasenya</label>
              <span id="helper-password-2" class="helper-text" data-error=""></span>
            </div>

            <div class="input-field col s12 center-align">
              <button id="form-submit-button" type="button" class="btn-large waves-effect waves-light light-sea-green azure-text">Registre</button>
            </div>
          </form>
        </div>
        <div class="col l3"></div>
      </div>
    </div>
  </section>

<th:block layout:fragment="script">
	<script th:src="@{/js/registre.js}"></script>
</th:block>
</body>

</html>