<!DOCTYPE html>
<html layout:decorate="~{layout/base.html}">
    <head>
        <title>Perfil d'usuari</title>
        <link rel="stylesheet" type="text/css" href="/css/usuari.css" />
    </head>

    <body>
        <section layout:fragment="content">
            <h1 class="header center black-pearl-text">Les meves dades</h1>
            <div class="container">
                <div class="row">
                    <div
                        id="form-container"
                        class="card col l6 offset-l3 m12 s12 center-align light-sea-green-text"
                    >
                        <form
                            th:method="get"
                            th:object="${user}"
                            th:action="@{/modificar-dades}"
                            id="formUsuari"
                            enctype="multipart/form-data"
                        >
                            <div class="input-field col s12 center-align">
                                <i class="material-icons prefix"
                                    >mail_outline</i
                                >
                                <input
                                    disabled
                                    type="email"
                                    id="email"
                                    name="email"
																		th:field="${userData.email}"
                                    class="black-pearl-text"
                                />
                                <label for="email" class="light-sea-green-text"
                                    >Email:
                                </label>
                            </div>
                            <div class="input-field col s12 center-align">
                                <i class="material-icons prefix">mode_edit</i>
                                <input
                                    disabled
                                    type="text"
                                    id="name"
                                    name="name"
                                    th:field="${userData.name}"
                                    class="black-pearl-text"
                                />
                                <label for="name" class="light-sea-green-text"
                                    >Nom:
                                </label>
                            </div>
                            <div class="input-field col s12 center-align">
                                <i class="material-icons prefix">mode_edit</i>
                                <input
                                    disabled
                                    type="text"
                                    id="lastName"
                                    name="lastName"
                                    th:field="${userData.lastName}"
                                    class="black-pearl-text"
                                />
                                <label
                                    for="lastName"
                                    class="light-sea-green-text"
                                    >Cognom:
                                </label>
                            </div>
                            <div class="input-field col s12 center-align">
                                <i class="material-icons prefix">location_on</i>
                                <input
                                    disabled
                                    type="text"
                                    pattern="[0-9]{5}"
                                    id="location"
                                    name="location"
                                    th:field="${userData.location}"
                                    class="black-pearl-text"
                                />
                                <label
                                    for="location"
                                    class="light-sea-green-text"
                                    >Ubicació:
                                </label>
                            </div>

                            <div class="input-field col s12 center-align">
                                <button
                                    type="button"
                                    onclick="window.location.href = '/modificar-dades'"
                                    class="btn-large waves-effect waves-light light-sea-green azure-text"
                                >
                                    Modifica les dades
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
    </body>
</html>
